:root {
  /* primary colors */
  --Dark-Blue: hsl(233, 26%, 24%);
  --Lime-Green: hsl(136, 65%, 51%);
  --Bright-Cyan: hsl(192, 70%, 51%);

  /* Neutral */
  --Grayish-Blue: hsl(233, 8%, 62%);
  --Light-Grayish-Blue: hsl(220, 16%, 96%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
  --White: hsl(0, 0%, 100%);

  /* linear gradient */
  --linear: linear-gradient(
    to right,
    #31d35c,
    #00d192,
    #00cbbb,
    #00c2d4,
    #2bb7da
  );

  /* font size */
  --size: 18px;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden !important;
}
/* start fonts */

.public-sans-300 {
  font-family: "Public Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
.public-sans-400 {
  font-family: "Public Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.public-sans-700 {
  font-family: "Public Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

/* end fonts */
.nav-cont {
  width: 80%;
  margin: auto;
  height: 70px;
}
button {
  background-image: var(--linear);
  color: white !important;
  width: 150px;
  height: 40px;
}
ul {
  width: 100%;
}
p {
  color: var(--Grayish-Blue);
  font-size: var(--size);
}
.svg-desktop {
  transform: translate(-50px, -50%);
  -webkit-transform: translate(-50px, -50%);
  -moz-transform: translate(-50px, -50%);
  -ms-transform: translate(-50px, -50%);
  -o-transform: translate(-50px, -50%);
}
.svg-desktop {
  position: absolute;
  bottom: 0px;
  left: 40%;
  width: 110%;
  height: 100vh;
  z-index: -999;
}
.hero-cont {
  position: relative;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--Dark-Blue);
}
.image-sec3 {
  height: 50% !important;
}
footer {
  background-color: var(--Dark-Blue);
}
a {
  text-decoration: none;
}
.navbar-toggler {
  width: 70px;
}

/* start media query */
@media (max-width: 992px) {
  .svg-desktop {
    transform: translate(-40%, -60%);
    -webkit-transform: translate(-40%, -60%);
    -moz-transform: translate(-40%, -60%);
    -ms-transform: translate(-40%, -60%);
    -o-transform: translate(-40%, -60%);
  }
  .mockup img {
    width: 100%;
  }
  .hero {
    text-align: center;
    margin-bottom: 45px !important;
  }
  .section2,
  .section3 {
    text-align: center;
  }
  .cards {
    height: 80%;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .nav-ul {
    margin-top: 25px;
  }
}
@media (max-width: 767px) {
  footer {
    text-align: center;
  }
  .foot-list {
    justify-content: center !important;
  }
}
/* end media query */
